#background{
    background-image: url(bg3.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
}

.container{
    padding: 20px;
}

h1{
    color:white;
}
h3{
    color:white;
}

.card{
    background-color: antiquewhite;
}


footer{
    background-color: black;
    padding: 15px;
}

a{
    color:darkslategrey;
}

a:hover{
    color: yellow;
    text-decoration: none;
}

nav{
    padding: 15px;
    font-weight: bold;
}
nav a{
    color: black;
    padding: 15px;
}
nav a:hover{
    color: darkolivegreen ;
}
a.but-on{
    color : blue !important;
}