<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ORGANIZE</title>
</head>
<body>

    <ul>
        <li><a href="post_create">Create a Post</a></li>
        <li><a href="post_list">View Posts</a></li>
        <li><a href="post_update">Update</a></li>
        <li><a href="post_delete">Delete</a></li>                    
    </ul>
</body>
</html>